<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jabistudio.androidjhlabs"
      android:versionCode="2"
      android:versionName="1.01">
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET"/> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AndroidjhlabsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FilterListActivity"/>
        
        <!-- Color Adjustment Filters Activity -->
		<activity android:name=".coloradjustmentfilteractivity.ChannelMixFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.ContrastFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.CurvesFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.DiffusionFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.DitherFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.ExposureFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.GainFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.GammaFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.GrayFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.GrayscaleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.HSBAdjustFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.InvertAlphaFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.InvertFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.LevelsFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.LookupFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.MapColorsFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.MaskFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.PosterizeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.QuantizeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.RescaleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.RGBAdjustFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.SolarizeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.ThresholdFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".coloradjustmentfilteractivity.TritoneFilterActivity" android:theme="@android:style/Theme.Light"/>
		
		<!-- Distortion and Warping Filters Activity -->
		<activity android:name=".distortionandwarpingactivity.BicubicScaleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.CircleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.CropFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.DiffuseFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.DisplaceFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.DissolveFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.FieldWarpFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.FlipFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.KaleidoscopeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.MarbleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.MirrorFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.OffsetFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.PerspectiveFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.PinchFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.PolarFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.RippleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.RotateFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.ScaleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.ShearFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.SphereFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.SwimFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.TileImageFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.TwirlFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.WarpFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".distortionandwarpingactivity.WaterFilterActivity" android:theme="@android:style/Theme.Light"/>
		
		<!-- Effects Filters Activity -->
		<activity android:name=".effectsactivity.BlockFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.BorderFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.ChromeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.ColorHalftoneFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.ContourFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.CrystallizeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.EmbossFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.FeedbackFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.HalftoneFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.LightFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.NoiseFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.PointillizeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.ShadowFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.ShapeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.StampFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".effectsactivity.WeaveFilterActivity" android:theme="@android:style/Theme.Light"/>
		
		<!-- Blurring and Sharpening Filters Activity -->
		<activity android:name=".blurringandsharpeningactivity.BlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.BoxBlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.BumpFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.DespeckleFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.GaussianFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.GlowFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.HighPassFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.LensBlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.MaximumFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.MedianFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.MinimumFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.MotionBlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.OilFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.RaysFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.ReduceNoiseFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.SharpenFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.SmartBlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.UnsharpFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".blurringandsharpeningactivity.VariableBlurFilterActivity" android:theme="@android:style/Theme.Light"/>
		
		<!-- Edge Detection Activity -->
		<activity android:name=".edgedetectionactivity.DoGFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".edgedetectionactivity.EdgeFilterActivity" android:theme="@android:style/Theme.Light"/>
		<activity android:name=".edgedetectionactivity.LaplaceFilterActivity" android:theme="@android:style/Theme.Light"/>

		<!-- Alpha Channel Activity -->
		<activity android:name=".alphachannelactivity.OpacityFilterActivity" android:theme="@android:style/Theme.Light"/>
    </application>
    
</manifest>