<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jabistudio.androidjhlabs"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AndroidjhlabsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Color Adjustment Filters Activity -->
		<activity android:name=".coloradjustmentfilteractivity.ChannelMixFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.ContrastFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.CurvesFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.DiffusionFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.DitherFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.ExposureFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.GainFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.GammaFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.GrayFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.GrayscaleFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.HSBAdjustFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.InvertAlphaFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.InvertFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.LevelsFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.LookupFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.MapColorsFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.MaskFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.PosterizeFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.QuantizeFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.RescaleFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.RGBAdjustFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.SolarizeFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.ThresholdFilterActivity"/>
		<activity android:name=".coloradjustmentfilteractivity.TritoneFilterActivity"/>
		
		<!-- Distortion and Warping Filters Activity -->
		
    </application>
</manifest>